@{
	ViewBag.Title = "SeriusSoft Migraine Diary";
}
@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
			<p>
				The Migraine Diary is for keeping track of anything that could be related to your migraines. 
				This will give you a closer look at potential triggers to avoid and common patterns to be aware of
				while aiding you in making the best of your condition.
				<!--
				To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
				-->
			</p>
		</div>
	</section>
}
<h3>We currently keep track of the following items in the Migraine Diary:</h3>
<ol class="round">
	<li class="one">
		<h5>Medications</h5>
		The medications you take, whether they are in response to a migraine or a preventative, may or may not be effective in your struggle with migraines.
		By keeping track of what medications you take, the doses, and the success of the medications, you can determine if you should be looking for new medications.
		<!--
			<h5>Getting Started</h5>
			ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
			enables a clean separation of concerns and that gives you full control over markup
			for enjoyable, agile development. ASP.NET MVC includes many features that enable
			fast, TDD-friendly development for creating sophisticated applications that use
			the latest web standards.
			<a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
		 -->
	</li>

	<li class="two">
		<h5>Ingredients</h5>
		Whether you are talking about ingredients in a food you eat or in your medications, ingredients may play an important role in your battle with migraines.
		There are two benefits to keeping track of items at this level:
		<ul style="list-style:initial; list-style-position:initial">
			<li>You can see over time if a certain allergy or food ingredient is triggering your migraines.</li>
			<li>You can see over time how effective certain ingredients in your medications are against your migraine attacks.</li>
		</ul>
		<!--
		<h5>Add NuGet packages and jump-start your coding</h5>
		NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
			-->
	</li>

	<li class="three">
		<h5>Symmptoms</h5>
		Let's face it; if migraines were just a simple headache, there wouldn't be very much to complain about. 
		However, migraines are not just pain in the head, they might include things like:
		<ul style="list-style:initial; list-style-position:initial">
			<li>Nausea</li>
			<li>Vomiting</li>
			<li>Intense sensitivity to lights</li>
			<li>Intense sensitivity to sounds</li>
			<li>Intense sensitivity to scents</li>
			<li>Fatigue</li>
			<li>Weakness</li>
			<li>Crankiness</li>
			<li>Depression</li>
			<li>Inability to focus or complete tasks</li>
			<li>Sudden change in vision</li>
			<li>And much more...</li>
		</ul>
	</li>
</ol>

<h3>We are currently working on:</h3>
<ol class="round">
	<li class="one">
		<h5>Diary Entries</h5>
		Currently, we are working on making it possible to make diary entries. Most of the groundwork has been paved.
	</li>
</ol>

<h3>We are in the process of adding the next few items in the near future:</h3>
<ol class="round">
	<li class="one">
		<h5>Intensity</h5>
		Doctors will always ask what the intensity of your pain is on a 1-10 scale, but sometimes it's not just intensity of the pain that is of concern. 
		We'll cover things like:
		<ul style="list-style:initial; list-style-position:initial">
			<li>Pain</li>
			<li>Nausea</li>
			<li>Custom intensities for symptoms that have the greatest effect on your day to day life...</li>
		</ul>
	</li>

	<li class="two">
		<h5>Location of pain on the head</h5>
		Migraines can happen the same way and area of the head or they can change. 
		This little tidbit of information might just prove interesting to you, yet it could be useful information for your doctor.
	</li>

	<li class="three">
		<h5>Triggers</h5>
		Ultimately, there are two kinds of triggers that this diary is aware of: "potential triggers" and "known triggers". These triggers could include items such as:
		<ul style="list-style:initial; list-style-position:initial">
			<li>Weather</li>
			<li>Food/Ingredients</li>
			<li>Stressful incedents/environments</li>
			<li>Lack of sleep</li>
			<li>Bright lights</li>
			<li>Loud sounds</li>
			<li>Strong scents</li>
			<li>Dehydration or hunger</li>
			<li>And more...</li>
		</ul>
		<!--
		<h5>Find Web Hosting</h5>
		You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
			-->
	</li>

	<li class="four">
		<h5>Comments</h5>
		You'll also be able to make comments on each of your migraine diary entries. This means that if there's anything this app doesn't cover, you will still be covered. 
		Who knows, maybe sometime in the future, some of those common comments might become features to this diary. 
		In that case, if you jotted them down, you'll have no problem recalling them at a later time...
	</li>

	<li class="five">
		<h5>Email and exporting to Excel</h5>
		This whole app is great and all, but what good would it do if you couldn't hand a report to your doctor or have a spreadsheet to analyze in your own time?
		Eventually, we plan on having both of those features added for your convenience.
	</li>

	<li class="six">
		<h5>Charts and Statistical Data</h5>
		Once the basics are down, we can dive in and give you new ways to view your diary:
		<ul style="list-style:initial; list-style-position:initial">
			<li>Which months or even days of the week were you most prone to migraines?</li>
			<li>What was the weather like when you were fighting off all of your migraine attacks?</li>
			<li>Which foods/ingredients seem to be eaten more around the time of a migraine?</li>
			<li>Which potential triggers are actually triggers?</li>
			<li>And the possibilities are endless...</li>
		</ul>
	</li>
</ol>
