<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\MigraineDiaryMVC.Tests\packages.config" />
  <repository path="..\MigraineDiaryMVC\packages.config" />
  <repository path="..\MigraineKendoViews\packages.config" />
  <repository path="..\MigraineRepository\packages.config" />
</repositories>