@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

@{
	Html.Kendo().Calendar()
		.Start(CalendarView.Month)
		.Name("Me")
		.Value(DateTime.Today)
		.Render();
}

@Html.Partial("PartialViews/MigraineCalendar")

@*@Html.Kendo().Calendar().Start(CalendarView.Month).Name("Me").Render()*@
