@model SeriusSoft.MigraineDiaryMVC.MigraineModels.UnitOfMeasurementModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UnitOfMeasurementModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UnitOfMeasurementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
